* {
  font-family: monaco;
}
 
#container {
	margin: 0 auto;
	width: 800px;
	height: auto;
    /*background-color: green;*/
	/*border:solid;*/
    }

    #top {
    	margin-top: 20px;
    	padding-top: 10px;
    	width: 300px;
    	height: 400px;
        display: inline-block;
        vertical-align: top;
    }

    #bottom {
        margin-top: 20px;
        padding-top: 80px;
        width: 300px;
        height: 400px;
        display: inline-block;
        vertical-align: top;
    }

.error {
	background-color: red;
	color: white;
	width: 400px;
	padding: 10px;
}

.success {
	background-color: green;
	color: white;
	width: 400px;
	padding: 10px;
}