<!doctype html>
<html lang="en">
  <head>
     <meta charset="UTF-8">
    <title>Login and Registration</title>
        <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
  </head>
  <body>
  <!-- {{ s_allcourse }} -->
  	<div id = "container">
  		<!-- <div id = "top"> -->

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category,message in messages %}
          <p class="{{ category }}">{{message}}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <div id = "top">
    <h2>Welcome!</h2>
  		<form action="/pokes/add" method="post">
<br>Name: <input type="text" name="f_name">
<br>Alias: <input type="text" name="f_alias">
<br>Email: <input type="text" name="f_email">
<br>Password: <input type="password" name="f_password">
<p> Password should be at least 8 characters</p>
Confirm PW: <input type="password" name="f_pw_confirmation">
<br><br>Date of Birth: <input type="date" name="f_birth">
<br><br><input type="submit" value="Register">

		</form>
		</div>
		<div id="bottom">
		<form action="/pokes" method="post">

		<br>Login: <input type="text" name="f_login">
		<br>Password:<input type="password" name="f_password">
		<br><br><input type="submit" value="Login">
		</form>
		</div>
	</div>
  </body>
</html>
